/*
* Author: Shane Connolly
* Assignment: WE4 Mobile Web Applications, Digital Skills Academy
* Date : 2016/08/19

* References
* http://stackoverflow.com/questions/15300067/disable-submit-button-when-form-invalid-with-angularjs
* http://yuilibrary.com/yui/docs/app/app-todo.html
* http://web.koesbong.com/2011/01/24/sortable-and-editable-to-do-list-using-html5s-localstorage/
* http://www.hongkiat.com/blog/jquery-ui-sortable/
* http://blog.jaykanakiya.com/angular-js-todo-list-sortable/
* http://www.w3schools.com/css/css_image_transparency.asp
* http://stackoverflow.com/questions/6382023/changing-the-color-of-a-hr-element
* http://stackoverflow.com/questions/15166270/how-can-i-get-the-value-of-the-checked-radio-button-when-submitting-a-form-using
* http://jsfiddle.net/arunpjohny/P3ctY/
*
*/

body
{
	background-color: #F0F0F0;

}

hr
{
	border-color: black; /*Chrome & Safari */
	background-color: black; /*Firefox & Opera */
	color:black; /*IE 7+ */
}

.done
{
	text-decoration: line-through;

	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.importanceIcon
{
	height: 25px;
	width: 25px;
}

.lowRadio
{
	color: green;
}
.mediumRadio
{
	color: orange;
}
.highRadio
{
	color: red;
}
